.sharePoster {
  width: 100%;
  height: 100%;
  .mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 15000;
    display: flex;
    justify-content: center;
    align-items: center;
    .box {
      position: relative;
      text-align: center;
      .text {
        display: inline-block;
        margin-top: 20px;
        width: 80%;
        height: 40px;
        line-height: 40px;
        color: #ccc;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 20px;
      }
    }
  }
}

.notScroll {
  overflow: hidden;
}

.imgBox {
  position: relative;
  transform: translateX(10000px);
  display: inline-block;
  width: 80%;
  .qr {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  img {
    width: 100%;
  }
}
